<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433151810882-v81126nlp6gahgerk61rhhca6dmd2v6q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433151810882-v81126nlp6gahgerk61rhhca6dmd2v6q</string>
	<key>API_KEY</key>
	<string>AIzaSyDnenXCWP69aA_ApZmLYy9vXiI6VQ-jHLc</string>
	<key>GCM_SENDER_ID</key>
	<string>433151810882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uberClone</string>
	<key>PROJECT_ID</key>
	<string>uber-clone-402c8</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-clone-402c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433151810882:ios:1d3171fbccd36c75287cdb</string>
	<key>DATABASE_URL</key>
	<string>https://uber-clone-402c8-default-rtdb.firebaseio.com</string>
</dict>
</plist>